LOSCFG_COMPILE_DEBUG=y
# LOSCFG_COMPILE_OPTIMIZE is not set
# LOSCFG_COMPILE_LTO is not set
LOSCFG_PLATFORM_QEMU_ARM_VIRT_CM4=y
# LOSCFG_ARCH_UNALIGNED_EXC is not set
LOSCFG_SOC_SERIES_GR551x=y
LOSCFG_KERNEL_BACKTRACE=y
LOSCFG_KERNEL_CPUP=y
LOSCFG_PLATFORM_EXC=y
LOSCFG_FS_LITTLEFS=y
LOSCFG_GDB=y
LOSCFG_THUMB=y
LOSCFG_DRIVERS_HDF=y
LOSCFG_DRIVERS_HDF_PLATFORM=y
LOSCFG_DRIVERS_HDF_PLATFORM_GPIO=n # legacy HDF adapter code is no longer supported in SDK v2.0.2
LOSCFG_DRIVERS_HDF_PLATFORM_UART=n # legacy HDF adapter code is no longer supported in SDK v2.0.2
LOSCFG_CPUP_INCLUDE_IRQ=n # cpup_irq module has severe array oob issue